apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tesla-pvc-local
  namespace: tesla-app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
